/* Login Page */
.App {
  text-align: center;
  font-family: Roboto, Arial, sans-serif;
  /* justify-content: center; */
  /* align-items: center; */
  margin: 0 auto;
  text-align: center;
  padding: 0;

}
body{
  margin: 0;
  /* justify-content: center; */
  /* align-items: center; */
  margin: 0 auto;
  padding: 0;
  text-align: center;
  

}
.title{
  padding-top: 10%;
  color: rgba(77, 170, 91, 0.75);
  font-weight: 50;
  font-size: 6.75rem;
}
.or-container {
  display: flex;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 12px;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 1px;
}
.or-left-line {
  height: 1px;
  margin-right: 11px;
  margin-left: 11px;
  -webkit-box-flex: 1;
  flex: 1 1 0%;
  background-image: linear-gradient(90deg, rgba(233, 237, 241, 0) 35%, rgb(161, 165, 190));
  border-radius: 2px;
}
.or {
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.or-right-line{
  display: block;
  height: 1px;
  margin-right: 11px;
  margin-left: 11px;
  -webkit-box-flex: 1;
  flex: 1 1 0%;
  background-image: linear-gradient(90deg, rgba(233, 237, 241, 0) 35%, rgb(161, 165, 190));
  transform: rotate(180deg);
  border-radius: 2px;
}
h1 {
  font-family: Roboto, Arial, sans-serif;
  font-size: 1.75rem;
  font-weight: 400;
  color: rgb(95,99,104);
  line-height: 2.25rem;
}

h2{
  font-family: Roboto, Arial, sans-serif;
  line-height: 1.75rem;
  font-size: 1.375rem;
  letter-spacing: 0;
  font-weight: 400;
  hyphens: auto;
  word-break: break-word;
  word-wrap: break-word;
  color: rgb(32,33,36);
}
/* Login Page End */

/* Navbar */
.nav-bar-container {
  margin: 0 auto;
  margin-bottom: 0;
  /* padding: 0; */
  text-align: center;
  background-image: linear-gradient(60deg, rgba(77, 170, 91, 0.75) 20%, rgba(121, 196, 132, 0.75) 60%);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  height: 10%;
  bottom: 0;
  position: fixed;
  right: 5%;
  border: 3px solid;
  border-radius: 15px;
  border-color: #f1f3f4;
}
.nav-image{
  width: auto;
  height: 40px;
  transition: all 0.5s ease;
  /* clip-path: circle(); */
}
.nav-image:hover{ 
  height: 50px;
  /* background-color: #f1f3f4; 
  fill:#f1f3f4;  */
} 
/*Navbar End*/

/* Personal Info Page */
.info-container {
  margin-left: auto;
  margin-right: auto;
  align-items: stretch;
  width: 60%;
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid rgb(218, 220, 224);
  box-sizing: border-box;
  overflow: hidden;
  margin-top: 8px;
}
.table-text-size{
  font-family: Roboto, Arial, sans-serif;
  font-size: 1.75rem;
  color: rgb(95,99,104);
}
.add-delete{
  margin-top: 3%;
  margin-right: 3%;
  display: flex;
  flex-direction: row;
  float: right;

}
.plus-minus-btn{
  font-size: 5.75rem;
  cursor: pointer;
  padding: 20px;
  border-bottom: 1px solid rgb(95,99,104);
  border-radius: 10px;
}
.plus-minus-btn:hover{
  transition: 0.25s ease-out;
  color: rgba(77, 170, 91, 0.75);
  fill:rgb(95,99,104);
}

.basic-info-container{
  padding-left: 24px;
  padding-right: 24px;
}

.basic-info-content{
  font-family: Roboto, Arial, sans-serif;
  font-size: 0.75rem;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  letter-spacing: 0.04166667em;
  line-height: 1rem;
  text-transform: none;
  hyphens: auto;
  word-break: break-word;
  word-wrap: break-word;
  color: rgb(95,99,104);
 
  padding: 0;
  width: 100%;
}

.basic-info-textfield-transition{
  --mdc-ripple-fg-size: 366px;
  --mdc-ripple-fg-scale: 1.701;
  --mdc-ripple-fg-translate-start: 326.027px, -149.145px;
  --mdc-ripple-fg-translate-end: 122px, -155px;
}

.span-transition {
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  text-transform: inherit;
  text-transform: var(--mdc-typography-subtitle1-text-transform,inherit);
  height: 28px;
  transition: opacity .15s 0ms cubic-bezier(.4,0,.2,1);
}

.update-profile-btn{
  border: 0;
  border-radius: 10px;
  padding: 15px 32px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 1.75rem;
  font-weight: 500;
  color: rgb(255, 255, 255);
  letter-spacing: 0.04166667em;
  line-height: 1rem;
  background-color: rgba(77, 170, 91, 0.75);
}
.update-profile-btn:hover{
  font-weight: 600;
  background-color: #f1f3f4;
  border-color: transparent;
  color: rgba(77, 170, 91, 0.75);
  transition: background 200ms ease-in,width 100ms ease-out;
}
.sign-up-profile-btn{
  border: 0;
  border-radius: 10px;
  padding: 15px 32px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 1.75rem;
  font-weight: 500;
  color: rgb(95,99,104);
  letter-spacing: 0.04166667em;
  line-height: 1rem;
  background-color: #f1f3f4;
}
.sign-up-profile-btn:hover{
  font-weight: 600;
  background-color: #f1f3f4;
  border-color: transparent;
  color: #1a8fff;
  transition: background 200ms ease-in,width 100ms ease-out;
}
.make-profile-btn{
  border: 0;
  border-radius: 10px;
  padding: 15px 32px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 1.75rem;
  font-weight: 500;
  color: rgb(255, 255, 255);
  letter-spacing: 0.04166667em;
  line-height: 1rem;
  background-color: rgba(77, 170, 91, 0.75);
}
.make-profile-btn:hover{
  font-weight: 600;
  background-color: #f1f3f4;
  border-color: transparent;
  color: rgba(77, 170, 91, 0.75);
  transition: background 200ms ease-in,width 100ms ease-out;
}
.sign-out-btn{
  padding: 7px 20px;
  border-radius: 10px;
  display:inline-flex;
  flex-direction: row;
}
.sign-out-btn:hover{
  cursor: pointer;
  background-color: #f1f3f4;
}
.sign-out_div{
  white-space: nowrap;
}
#delete-account{
  text-decoration-line: underline;  
  display: inline-block;
  font-size: 0.9rem;

}
#delete-account:hover{
  color: rgb(245, 74, 74);
  cursor: pointer;
}

input{
  background: #f1f3f4;
  border: 1px solid transparent;
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
  max-width: 720px;
  position: relative;
  transition: background 100ms ease-in,width 100ms ease-out;
  padding-left: 24px;
  width: calc(30vw - 102px);
  height: 2vw;
}
input:focus{
  border: 1px solid transparent;
  border-color: #ccc7c7;
  color: #212529;
  background-color:transparent;
  outline: none;
  box-shadow: 0 0 3 .25rem rgba(2, 54, 21, 0.25);
}
/* Personal Info Page End*/

/* Home Component*/
.Home{
  --main-color: #1a8fff;
  --text-color: #777;
  --text-color-light: #ccc;
  --border-color: #eee;
  --bg-color: #f9f9f9;
  --neutral-color: #fff;
}
/* Calendar Component*/

/* GRID */

.row {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.row-middle {
  align-items: center;
}

.col {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}

.col-start {
  justify-content: flex-start;
  text-align: left;
}

.col-center {
  justify-content: center;
  text-align: center;
}

.col-end {
  justify-content: flex-end;
  text-align: right;
}
* {
  box-sizing: border-box;
}
.icon {
  /* overflow: hidden; */
  font-size: 2.75rem;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  text-transform: none;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

.calendar {
  display: block;
  position: relative;
  width: 100%;
  background: var(--neutral-color);
  border: 1px solid var(--border-color);
}

.calendar .header {
  text-transform: uppercase;
  font-size: 115%;
  padding: 1.5em 0;
  border-bottom: 1px solid var(--border-color);
}

.calendar .header .icon {
  cursor: pointer;
  transition: 0.15s ease-out;
}

.calendar .header .icon:hover {
  /*transform: scale(1.75);*/
  transition: 0.25s ease-out;
  color: rgba(77, 170, 91, 0.75);
  fill:var(--main-color);
}

.calendar .header .icon:first-of-type {
  margin-left: 1em;
}

.calendar .header .icon:last-of-type {
  margin-right: 1em;
}

.calendar .days {
  text-transform: uppercase;
  color: var(--text-color-light);
  padding: 0.75em 0;
  border-bottom: 1px solid var(--border-color);
}

.calendar .body .cell {
  position: relative;
  height: 4em;
  border-right: 1px solid var(--border-color);
  overflow: hidden;
  cursor: pointer;
  background: var(--neutral-color);
  transition: 0.25s ease-out;
 
}

.calendar .body .cell:hover {
  background: var(--bg-color);
  transition: 0.5s ease-out;
}

.calendar .body .selected {
  border-left: 10px solid transparent;
  border-image: linear-gradient(45deg, #9c9c9c 0%, #e6e6e6 40%);
  border-image-slice: 1;
}
.calendar .body .today {
  color: rgba(77, 170, 91, 0.75) ;
  border-left: 10px solid transparent;
  border-image: linear-gradient(45deg, rgba(77, 170, 91, 0.75) 0%, rgba(121, 196, 132, 0.75) 40%);
  border-image-slice: 1;
}
.calendar .body .row {
  border-bottom: 1px solid var(--border-color);
}

/* .calendar .body .row:last-child {
  border-bottom: none;
} */

.calendar .body .cell:last-child {
  border-right: none;
}

.calendar .body .cell .number {
  position: absolute;
  line-height: 1;
  top: 0.75em;
  right: 0.75em;
}

.calendar .body .disabled {
  color: var(--text-color-light);
  pointer-events: none;
}

.calendar .body .cell .bg {
  color: var(--main-color);
  opacity: 0;
  position: absolute;
  top: -0.2em;
  right: -0.05em;
  transition: 0.25s ease-out;
}

.calendar .body .cell:hover .bg,
.calendar .body .selected .bg {
  opacity: 0.05;
  transition: 0.5s ease-in;
}
.calendar .body .cell.today .bg {
  color: #ff1a79;
  opacity: 0.05;
}

.calendar .body .col {
  flex-grow: 0;
  flex-basis: calc(100% / 7);
  width: calc(100% / 7);
}
.data{
  color:rgb(95,99,104);
}
/* Calendar Component End*/

/* Search */
.SearchBox-input{
  justify-content: left;
  align-items: left;
  right: 37%;
}
.menu-link{
  text-align: center;
  user-select: none;
  padding: 0px 20px;
  font-size: 15px;
  transition: all 0.25s;
  height: 50px;
  /* background-color: rgba(255, 255, 255, 0.75); */
  display: flex;
  align-items: center;
  cursor: pointer;
  fill: rgba(77, 170, 91, 0.75);
}
.menu-link:hover {
  color: #fff;
  background-color: rgba(77, 170, 91, 0.75);
  fill: white;
}
.sort-button{
  color:rgba(77, 170, 91, 0.75);
  display: inline-block;
  text-align: center;
  user-select: none;
  padding: 0px 20px;
  font-size: 30px;
  transition: all 0.25s;
  background-color: rgb(231, 231, 231);
  display: flex;
  /* align-items: center; */
  cursor: pointer;
  fill: rgba(77, 170, 91, 0.75);
}
.sort-button:hover {
  color: #fff;
  background-color: rgba(77, 170, 91, 0.75);
  fill: white;
}
.active {
  opacity: 1;
  display: flex;
  flex-direction: column;
  transition: all .25s;
  /* height: 35px; */
}
.inactive {
  opacity: 0;
  display: none;
  transition: all .25s;
}
.info-card-divider{
  height: 1px;
  justify-content: center;
  /* margin-right: 11px; */
  /* margin-left: 11px; */
  /* -webkit-box-flex: 1; */
  /* flex: 1 1 0%; */
  background-image: linear-gradient(280deg, rgba(233, 237, 241, 0) 40%, rgb(161, 165, 190));
  /* border-radius: 2px; */
}

.card:hover{
  opacity: 0.7;
  transition: 0.1s ease-in;
  color: rgba(77, 170, 91, 0.75);
}
.card{
  text-align: left;
  padding: 0px 3%;
}
.card__content{
  display: inline-block;
  cursor: pointer;
}